.wrapper-ContentAbout {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.containerContentAbout {
  width: 1000px;
  height: 90%;
}

.title-About {
  padding-left: 50px;
  font-family: "Roboto Mono", monospace;
  color: #ccd6f6;
  font-size: 35px;
  display: flex;
  align-items: center;
}
.title-About::after {
  content: "";
  width: 330px;
  height: 1px;
  margin-left: 20px;
  background-color: #ccd6f6;
}
.ContentAbout {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  width: 100%;
  height: 70%;
}

.paragraphAbout {
  padding-left: 50px;
  padding-right: 20px;
}

.strong {
  font-size: 20px;
  font-weight: 400;
  color: aquamarine;
}

.text-about {
  color: #8892b0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

.imageAbout {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
.imgAbout {
  width: 70%;
  height: 450px;
  border-radius: 10px;
  background-image: url(./../../assets/img/WhatsApp\ Image\ 2021-05-02\ at\ 6.17.42\ PM.jpeg);
  background-size: cover;
}
