.ContentContact {
  width: 100%;
  height: calc(100vh - 70px - 50px);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content:  center;
}

.wrapperContact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 35%;
}
.subtitleContact {
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  color: aquamarine;
}

.h1-Contact {
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  color: #ccd6f6;
  margin-bottom: 0%;
}
.p-contact {
  font-family: "Montserrat", sans-serif;
  color: #ccd6f6;
  text-align: center;
  margin-bottom: 50px;
}

.email-link {
  padding: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 5px;
  font-family: "Roboto Mono", monospace;

  border: 1px solid aquamarine;
  color: aquamarine;

  height: 60px;
  width: 140px;
}
.email-link:hover{
  background-color: rgba(100,255,218,0.1);
  transition: all 0.3s;

}
