.Footer {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-foter {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  color: #ccd6f6;
  margin: 0px;
}
